[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-casper-two"]
	path = themes/hugo-casper-two
	url = https://github.com/eueung/hugo-casper-two.git
